{% extends "base.html" %}

{% block content %}
<head>
</head>
<body style="background-color:DarkCyan;">

    <div class="container" id="lform" style="width:75%;">
        <div class="center-align">
                <h1 style="font-family: cursive;">Welcome to my app</h1>
                <image src="{{ url_for('static', filename='images/rpsi.png')}}"></image>
                <p style="font-family: cursive;">In order to play please sign in or make a new account by clicking in register.</p>

    <form action="" method="post" novalidate style="text-align: left;">

        {{ form.hidden_tag() }}
        <p id='login_username'>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>

        <p id='login_password'>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>

       {# <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p> #}
        <p id='login_buttons' style="text-align: center;">{{ form.submit() }}</p>
    </form>
        </div>
        <p id="login_info" style="text-align: center;">Please sign or <a href='/new_user'>register</a>.</p>
    </div>

</body>

{% endblock %}


