<!DOCTYPE html>
<html lang="en">

<head>

<title>Rock Paper Scissors Game</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
  background-color: #008B8B;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.column:hover .image {
  opacity: 0.3;
}

.column:hover .middle {
  opacity: 1;
}

</style>

</head>

<body>
<h1 style="text-align:center;">Choose your weapon:</h1>
<p style="text-align:center;">Click one of the images below:</p>

<div class="row">
  <div class="column">
    <h2>ROCK</h2>
    <p>
        <a href="{{ url_for('rps', choice='rock') }}">
            <image src="{{ url_for('static', filename='images/remoji.png')}}" class="image"></image>
            <div class="middle"> </div>
        </a>
    </p>
  </div>

  <div class="column">
    <h2>PAPER</h2>
    <p>
        <a href="{{ url_for('rps', choice='paper') }}">
            <image src="{{ url_for('static', filename='images/pemoji.png')}}"  class="image"></image>
        </a>
    </p>
  </div>

  <div class="column">
    <h2>SCISSORS</h2>
    <p>
        <a href="{{ url_for('rps', choice='scissors') }}">
            <image src="{{ url_for('static', filename='images/semoji.png')}}"  class="image"></image>
        </a>
    </p>
  </div>
</div>

</body>
</html>
