{% extends "base.html" %}

{% block title %} {{super()}} | Game {% endblock %}

{% block content %}

<body style="background-color:DarkCyan;">
    <div class="container" id="lform" style="width:100%;">
        <div class="center-align">



<h5 style="font-family: cursive;">{{ current_user.username }} chose: {{ you_choice }}</h5>
<h5 style="font-family: cursive;">Computer chose: {{ computer_choice }}</h5>

{% if winner == 'tie' %}
<h1 style="font-family: cursive;">There was a tie!</h1>
<a class="waves-effect waves-light btn-large" href='/round'>PLAY AGAIN</a>
<a class="waves-effect waves-light btn-large" href='/logout'>Leave</a>

{% else %}
<h1 style="font-family: cursive;">{{ winner.capitalize() }} WON!</h1>
<a class="waves-effect waves-light btn-large" href='/round'>PLAY AGAIN</a>
<a class="waves-effect waves-light btn-large" href='/logout'>Leave</a>


</div>
{% endif %}

{% if winner == 'you' %}
    <image src="{{ url_for('static', filename='images/hooray.gif')}}"</image>

{% else %}
    <image src="{{ url_for('static', filename='images/ohno.gif')}}"</image>

{% endif %}

</body>
{% endblock %}

