{% extends "base.html" %}

{% block content %}
<head>
    <title>Rock Paper Scissors Game</title>
</head>

<body style="background-color:DarkCyan;">
    <div class="container" id="lform" style="width:100%;">
        <div class="center-align">

<script>

function welcomeMessage() {
  alert("Welcome on the game of Rock, Paper, Scissors! Remember the rules are simple!\nRock Beats Scissors\nScissors Beats Paper\nPaper Beats Rock");
}
welcomeMessage();

</script>

    <h1>
        <span>Rock</span>
        <span>Paper</span>
        <span>Scissors</span>
    </h1>

        <h5 style="font-family: CenturyGothic;">An Epic battle of Human Vs. Computer<h5>
        <image src="{{ url_for('static', filename='images/play.gif')}}"></image>

        <h5>Are you ready {{ current_user.username }} ?</h5><br></br>
        <a class="waves-effect waves-light btn-large" href='/round'>START</a>

        </div>
    </div>
</body>

{% endblock %}